<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset">
        <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
        </div>
        <!-- <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert> -->
        <!-- <ng-template appPlaceHolder></ng-template> -->

        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>

        <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
            <!-- NEEDS TO BE A REACTIVE FOR SO CAN PROPERLY VALIDATE PASSWORD CONFIRM -->
            <div class="form-group" [disabled]="isLoginMode" [hidden]="isLoginMode" >
                <label for="firstname">Firstname</label>
                <input 
                    type="text" 
                    id="firstname" 
                    class="form-control"
                    formControlName="firstname">
            </div>

            <div class="form-group" [disabled]="isLoginMode" [hidden]="isLoginMode" >
                <label for="surname">Surname</label>
                <input 
                    type="text" 
                    id="surname" 
                    class="form-control" 
                    formControlname="surname">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input 
                    type="email" 
                    id="email" 
                    class="form-control" 
                    formControlName="email">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    id="password"
                    class="form-control" 
                    formControlName="password">
            </div>

            <div class="form-group" [disabled]="isLoginMode" [hidden]="isLoginMode">
                <label for="confirmPassword">Confirm Password</label>
                <input 
                    type="password" 
                    id="confirmPassword" 
                    class="form-control" 
                    formControlName="confirmPassword"> 
                    
            </div>


            <div style="margin-bottom: 10px;">
                <button 
                    class="btn btn-primary" 
                    type="submit" 
                    [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Signup' }}</button> | 
                <button 
                    class="btn btn-primary" 
                    (click)="oneSwitchMode()" 
                    type="button">Switch to {{isLoginMode ? 'Sign up' : 'Login'}}</button>
                <hr>
                <a style="cursor:pointer;" 
                    *ngIf="isLoginMode" 
                    (click)="forgotPassword()">Forgot Password ?</a>
                <app-forgot-password *ngIf="isForgotPassword"></app-forgot-password>
            </div>
        </form>
    </div>
</div>