<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset">
        <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
        </div>
        <!-- <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert> -->
        <!-- <ng-template appPlaceHolder></ng-template> -->

        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>

        <form #authForm="ngForm" appMatchPassword (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading"   >
            <!-- NEEDS TO BE A REACTIVE FOR SO CAN PROPERLY VALIDATE PASSWORD CONFIRM -->
            <div class="form-group" [hidden]="!isLoginMode" >
                <label for="firstname">Firstname</label>
                <input 
                    type="text" 
                    id="firstname" 
                    class="form-control" 
                    ngModel 
                    name="firstname" 
                    required>
            </div>

            <div class="form-group" [hidden]="!isLoginMode" >
                <label for="surname">Surname</label>
                <input 
                    type="text" 
                    id="surname" 
                    class="form-control" 
                    ngModel 
                    name="surname" 
                    required >
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input 
                    type="email" 
                    id="email" 
                    class="form-control" 
                    ngModel 
                    name="email" 
                    required 
                    email>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    id="password"
                    class="form-control" 
                    #password 
                    name="password" 
                    required 
                    minlength="6"
                    autocomplete="on">
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input 
                    type="password" 
                    id="confirmPassword" 
                    class="form-control" 
                    #confirmPassword 
                    name="confirmPassword"
                    required
                    minLength="6"
                    autocomplete="on"> 
            </div>

            <div style="margin-bottom: 10px;">
                <button 
                    class="btn btn-primary" 
                    type="submit" 
                    [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Signup' }}</button> | 
                <button 
                    class="btn btn-primary" 
                    (click)="oneSwitchMode()" 
                    type="button">Switch to {{isLoginMode ? 'Sign up' : 'Login'}}</button>

                <hr>
                <a href="#">Forgot Password ?</a>
            </div>
        </form>
    </div>
</div>