
<div class="col-md-4">
    <form [formGroup]="foodForm" (ngSubmit)="addToBasket()" >
        <a (click)="toggleDetails()" style="cursor:pointer; margin-top: 5px; border-radius:10px; border: 1px solid#B7B7B7;  background-color: #E1DFDF"
            
            class="list-group-item clearfix">
            <div class="card" [align]="'center'">
                <h3 class="card-title" ><u>{{ item.name }}</u></h3> 
                
                <br>
                <img
                    
                    [src]="item.imagePath"
                    alt="{{item.name}}"
                    class="img-responsive"
                    style="max-height: 100px; align-content: center; border-radius: 25px;">
            
                <div
                style="margin-top: 10px;"  
                class="card body">
                    Amount: <input style="width:50%;" type="number" formControlName="amount" name="amount"/> <br>
                    <div style="margin-top: 10px;">
                        Price: {{ item.price | currency }} /pricePer: {{ item.pricePer}}p <br>
                    </div>
                    <div style="margin-top: 10px;">
                        Type: {{ item.type }} <br>

                    </div>
                </div>
            </div>

            <button style="border: 1px solid#B7B7B7;" class="btn btn-success"
                type="submit">Add</button>
        </a>
    </form>

    <app-food-detail *ngIf="showDetails"></app-food-detail>
</div>


