<div class="row" style="margin-top: 10px">
    <div class="col-xs-12">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email:</label>
                <input 
                    type="text" 
                    class="form-control"
                    name="email"
                    formControlName="email">
            </div>

            <button class="btn btn-success">Send Email</button>
        </form>

    </div>
</div>
